accelerate
codetiming
datasets
dill
flash-attn
hydra-core
math-verify
liger-kernel
numpy
pandas
peft
pyarrow>=15.0.0
pybind11
pylatexenc
pre-commit
ray
tensordict<=0.6.2
torchdata
transformers
vllm==0.8.3
wandb
py-spy==0.4.0